<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <style type="text/css">
            html, body { height: 100%; margin: 0; padding: 0; }
            #map { height: 100%; }
            .label {font-size:9px; text-align:center; color:#222; text-shadow:0 0 5px #fff; font-family:Helvetica, Arial, sans-serif;}
        </style>
    </head>
    <body>
        <div id="map"></div>

        <script src="champs_polygons.js"></script>
        <script type="text/javascript">
            var map;
            var infowindow;
            var markerOrigin;
            var champsSelected;
            var champs = [];

            var selectedStyle = {
                        strokeWeight: 2,
                        strokeColor: '#FF0000',
                        fillColor: '#FF0000'
                };
            var selectedOverStyle = {
                    strokeWeight: 3,
                    strokeColor: '#FF0000',
                        fillColor: '#FF0000'
                };
            var originalStyle = {
                    strokeWeight: 2,
                    strokeColor: '#252525',
                    fillColor: '#444444'
                };

            function initMap() {
                var latLng = new google.maps.LatLng(47.970787, -1.448450); // Correspond au coordonnées de Les rivière, 35000 Janzé

                map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 12, // Zoom par défaut
                    center: latLng, // Coordonnées de départ de la carte de type latLng
                    streetViewControl: false, // On désactive le streetview
                    mapTypeId: google.maps.MapTypeId.ROADMAP // Type de carte ( HYBRID, ROADMAP, SATELLITE ou TERRAIN )
                });

                //var trafficLayer = new google.maps.TrafficLayer(); // Ajout des données traffic
                //trafficLayer.setMap(map);

                infowindow = new google.maps.InfoWindow();

                markerOrigin = new google.maps.Marker({
                    position: latLng,
                    map: map,
                    animation: google.maps.Animation.DROP,
                    title: 'Les rivières, Janzé'
                });

                jsInterface.askToLoadChamps(); // On demande à Java de setup les champs

                // Rayon de 20km autour du point de départ
                var cityCircle = new google.maps.Circle({
                    strokeColor: '#FF0000',
                    strokeOpacity: 0.7,
                    strokeWeight: 2,
                    fillColor: '#FF0000',
                    fillOpacity: 0.03,
                    map: map,
                    center: latLng,
                    radius: 20 * 1000,
                    clickable: false
                });

                map.addListener("click", function(){
                    for (var i = 0; i < champs.length; i++)
                        champs[i].setOptions(originalStyle);

                    champsSelected = null;
                    infowindow.close();
                });

            }

            function getPolygonCenter(polygon) {
                var bounds = new google.maps.LatLngBounds();
                var vertices = polygon.getPath();
                for (var i = 0; i < vertices.getLength(); i++) {
                    bounds.extend(vertices.getAt(i));
                }
                return bounds.getCenter();
            }

            /** Ajouter un marker à la Map **/
            function addChamp(id, culture, proprio, adresse, surface, coords) {
                var path = [];
                var coordsParse = JSON.parse(coords);

                coordsParse.forEach(function(point){
                    var split = point.toString().split(",");
                    var lat = split[0];
                    var lng = split[1];
                    var pointObj = new google.maps.LatLng(lat, lng);
                    path.push(pointObj);

                });

                var polygon = new google.maps.Polygon({
                  paths: path,
                  id: id,
                  culture: culture,
                  proprio: proprio,
                  adresse: adresse,
                  surface: surface
                });

                polygon.setOptions(originalStyle);
                polygon.setMap(map);

                polygon.addListener('click', function(event) {
                    if(champsSelected != null)
                        for (var i = 0; i < champs.length; i++)
                            champs[i].setOptions(originalStyle);

                    champsSelected = polygon.id;
                    polygon.setOptions(selectedStyle);

                    var contentString = '<strong>INFORMATIONS</strong><br /><br />' +
                    'Culture: ' + polygon.culture + '<br />' +
                    'Propriétaire: ' + polygon.proprio + '<br />' +
                    'Adresse: ' + polygon.adresse + '<br />' +
                    'Surface: ' + polygon.surface + ' m²';

                    infowindow.setContent(contentString);
                    infowindow.setPosition(getPolygonCenter(polygon));
                    infowindow.open(map);
                });

                polygon.addListener("mouseover", function(){
                    var idChamps = polygon.id;
                    if(idChamps != champsSelected)
                        polygon.setOptions(selectedOverStyle);
                });

                polygon.addListener("mouseout", function(){
                    var idChamps = polygon.id;
                    if(idChamps != champsSelected)
                        polygon.setOptions(originalStyle);
                    else
                        polygon.setOptions(selectedStyle);
                });

                champs.push(polygon);

            }

            /** Réaffiche tous les champs **/
            function showAll() {
                for (var i = 0; i < champs.length; i++)
                    champs[i].setMap(map);
            }

            /** Cache tous les champs **/
            function removeAll() {
                for (var i = 0; i < champs.length; i++)
                    champs[i].setMap(null);
                champs = [];
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbikGyg54hhQ7U_3qsCfOq9G3YV4jeWuk&callback=initMap" async defer></script>
    </body>
</html>