<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <style type="text/css">
            html, body { height: 100%; margin: 0; padding: 0; }
            #map { height: 100%; }
            .label {text-align:center; color:#222; text-shadow:0 0 5px #fff; font-family:Helvetica, Arial, sans-serif;}
        </style>
    </head>
    <body>
        <div id="map"></div>

        <!--<script src="vehicule_polygons.js"></script>-->
        <script type="text/javascript">
            var map;
            var infowindow;
            var markerOrigin;
            var markers = [];

            var iconBase = '../images/';
            var icons = {
                Eta: {
                    icon: iconBase + 'marker_eta.png'
                },
                Moissonneuse: {
                    icon: iconBase + 'marker_moissonneuse.png'
                },
                Tracteur: {
                    icon: iconBase + 'marker_tracteur.png'
                },
                Botteleuse: {
                    icon: iconBase + 'marker_botteleuse.png'
                }
            };

            function initMap() {
                var latLng = new google.maps.LatLng(47.970787, -1.448450); // Correspond au coordonnées de Les rivière, 35000 Janzé

                map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 12, // Zoom par défaut
                    center: latLng, // Coordonnées de départ de la carte de type latLng
                    streetViewControl: false, // On désactive le streetview
                    mapTypeId: google.maps.MapTypeId.ROADMAP // Type de carte ( HYBRID, ROADMAP, SATELLITE ou TERRAIN )
                });

                var trafficLayer = new google.maps.TrafficLayer(); // Ajout des données traffic
                trafficLayer.setMap(map);

                infowindow = new google.maps.InfoWindow();

                markerOrigin = new google.maps.Marker({
                    position: latLng,
                    icon: icons['Eta'].icon,
                    map: map,
                    animation: google.maps.Animation.DROP,
                    title: 'Les rivières, Janzé'
                });

                // On charge les champs
                //map.data.addGeoJson(data, { idPropertyName: 'VEHICULE_ID' });

                jsInterface.askToLoadMarkers(); // On demande à Java de setup les véhicules

                // Rayon de 20km autour du point de départ
                var cityCircle = new google.maps.Circle({
                    strokeColor: '#FF0000',
                    strokeOpacity: 0.7,
                    strokeWeight: 2,
                    fillColor: '#FF0000',
                    fillOpacity: 0.03,
                    map: map,
                    center: latLng,
                    radius: 20 * 1000,
                    clickable: false
                });

                map.addListener('click', function(event) {
                    infowindow.close();
                });

            }

            /** Ajouter un marker à la Map **/
            function addMarker(id, latitude, longitude, title, type, etat) {

                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(latitude, longitude),
                    icon: icons[type].icon,
                    map: map,
                    id: id,
                    title: title,
                    type: type,
                    etat: etat,
                    animation: google.maps.Animation.DROP
                });

                marker.addListener('click', function(event) {
                    var contentString = '<span class="label"><strong>INFORMATIONS</strong></span><br /><br />' +
                    'Type: ' + marker.type + '<br />' +
                    'Etat: ' + marker.etat;

                    infowindow.setContent(contentString);
                    infowindow.open(map, marker);
                });

                markers.push(marker);
            }

            /** Supprime tous les markers **/
            function hideMarkersExceptOne(id) {
                for (var i = 0; i < markers.length; i++) {
                    if(markers[i].id != id) {
                        markers[i].setMap(null);
                    } else {
                        markers[i].setMap(map);
                        map.panTo(markers[i].position);
                    }
                }
                map.setZoom(map.getZoom() - 1);
                map.setZoom(map.getZoom() + 1);
            }

            /** Réaffiche tous les markers **/
            function showAllMarker() {
                for (var i = 0; i < markers.length; i++) {
                    markers[i].setMap(map);
                }
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbikGyg54hhQ7U_3qsCfOq9G3YV4jeWuk&callback=initMap" async defer></script>
    </body>
</html>