<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <style type="text/css">
            html, body { height: 100%; margin: 0; padding: 0; }
            #map { height: 100%; }
            .label {font-size:9px; text-align:center; color:#222; text-shadow:0 0 5px #fff; font-family:Helvetica, Arial, sans-serif;}
        </style>
    </head>
    <body>
        <div id="map"></div>

        <script src="vehicule_polygons.js"></script>
        <script type="text/javascript">
            var map;
            var infowindow;
            var markerOrigin;
            var label;

            var iconBase = '../images/';
            var icons = {
                Eta: {
                    icon: iconBase + 'marker_eta.png'
                },
                Moisonneuse: {
                    icon: iconBase + 'marker_moissonneuse.png'
                },
                Tracteur: {
                    icon: iconBase + 'marker_tracteur.png'
                },
                Botteleuse: {
                    icon: iconBase + 'marker_botteleuse.png'
                }
            };

            function initMap() {
                var latLng = new google.maps.LatLng(47.970787, -1.448450); // Correspond au coordonnées de Les rivière, 35000 Janzé

                map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 12, // Zoom par défaut
                    center: latLng, // Coordonnées de départ de la carte de type latLng
                    streetViewControl: false, // On désactive le streetview
                    mapTypeId: google.maps.MapTypeId.ROADMAP // Type de carte ( HYBRID, ROADMAP, SATELLITE ou TERRAIN )
                });

                var selectedStyle = {
                        strokeWeight: 3,
                        strokeColor: '#FF0000',
                        fillColor: '#FF0000'
                    };
                var originalStyle = {
                        strokeWeight: 2,
                        strokeColor: '#444444',
                        fillColor: '#444444'
                    };

                map.data.setStyle(originalStyle);

                infowindow = new google.maps.InfoWindow();

                // On charge les champs
                map.data.addGeoJson(data, { idPropertyName: 'VEHICULE_ID' });

                map.data.setStyle(function(feature) {
                    return { icon: feature.getProperty('icon') };
                });

                markerOrigin = new google.maps.Marker({
                    position: latLng,
                    icon: icons['Eta'].icon,
                    map: map,
                    animation: google.maps.Animation.DROP,
                    title: 'Les rivière, Janzé'
                });

                map.addListener('click', function(event) {
                    infowindow.close();
                    map.data.revertStyle();
                });

                map.data.addListener('click', function(event) {
                    var contentString = '<strong>Information</strong><br />' +
                    'Type: ' + event.feature.getProperty('type') + '<br />' +
                    'Etat: ' + event.feature.getProperty('etat');

                    infowindow.setContent(contentString);
                    infowindow.setPosition(event.latLng);
                    infowindow.open(map);
                });

                // Rayon de 20km autour du point de départ
                var cityCircle = new google.maps.Circle({
                    strokeColor: '#FF0000',
                    strokeOpacity: 0.7,
                    strokeWeight: 2,
                    fillColor: '#FF0000',
                    fillOpacity: 0.03,
                    map: map,
                    center: latLng,
                    radius: 20 * 1000,
                    clickable: false
                });

            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbikGyg54hhQ7U_3qsCfOq9G3YV4jeWuk&callback=initMap" async defer></script>
    </body>
</html>