<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <style type="text/css">
            html, body { height: 100%; margin: 0; padding: 0; }
            #map { height: 100%; }
            .label {font-size:9px; text-align:center; color:#222; text-shadow:0 0 5px #fff; font-family:Helvetica, Arial, sans-serif;}
        </style>
    </head>
    <body>
        <div id="map"></div>

        <script src="champs_polygons.js"></script>
        <script type="text/javascript">
            var map;
            var directionsDisplay;
            var infowindow;
            var markerOrigin;
            var flightPath;
            var flightPlanCoordinates = [];
            var champsSelected = [0,0];
            var label;
            var originSelect = false;
            var destSelect = false;

            function initMap() {
                var latLng = new google.maps.LatLng(47.970787, -1.448450); // Correspond au coordonnées de Les rivière, 35000 Janzé

                map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 12, // Zoom par défaut
                    center: latLng, // Coordonnées de départ de la carte de type latLng
                    streetViewControl: false, // On désactive le streetview
                    mapTypeId: google.maps.MapTypeId.ROADMAP // Type de carte ( HYBRID, ROADMAP, SATELLITE ou TERRAIN )
                });

                var selectedStyle = {
                        strokeWeight: 3,
                        strokeColor: '#FF0000',
                        fillColor: '#FF0000'
                    };
                var originalStyle = {
                        strokeWeight: 2,
                        strokeColor: '#444444',
                        fillColor: '#444444'
                    };

                map.data.setStyle(originalStyle);

                // On charge les champs
                map.data.addGeoJson(data, { idPropertyName: 'CHAMPS_ID' });

                infowindow = new google.maps.InfoWindow();

                markerOrigin = new google.maps.Marker({
                    position: latLng,
                    map: map,
                    animation: google.maps.Animation.DROP,
                    title: 'Les rivière, Janzé'
                });

                map.data.addListener('mouseover', function(event) {
                    var idChamps = event.feature.getProperty('CHAMPS_ID');
                    if(idChamps != champsSelected[0] && idChamps != champsSelected[1]) {
                        map.data.overrideStyle(event.feature, {
                            strokeWeight: 3
                        });
                    }
                });

                map.data.addListener('mouseout', function(event) {
                    var idChamps = event.feature.getProperty('CHAMPS_ID');
                    if(idChamps != champsSelected[0] && idChamps != champsSelected[1]) {
                        map.data.overrideStyle(event.feature, originalStyle);
                    }
                });

                map.addListener('click', function(event) {
                    if (flightPath != null) {
                        flightPath.setMap(null);
                    }
                    flightPlanCoordinates = [];
                    champsSelected = [0,0];
                    originSelect = false;
                    destSelect = false;
                    infowindow.close();
                    map.data.revertStyle();
                });

                map.data.addListener('click', function(event) {
                    var contentString = '<strong>Information</strong><br />' +
                    'Culture: ' + event.feature.getProperty('culture') + '<br />' +
                    'Propriétaire: ' + event.feature.getProperty('proprio') + '<br />' +
                    'Bottelage: ' + event.feature.getProperty('bottelage') + '<br />' +
                    'Transport: ' + event.feature.getProperty('transport');

                    jsInterface.setFirstChamp(getPolygonCenter(event));

                    infowindow.setContent(contentString);
                    infowindow.setPosition(getPolygonCenter(event));
                    infowindow.open(map);
                });

                map.data.addListener('click', function(event) {
                    if (flightPath != null) {
                        flightPath.setMap(null);
                    }
                    flightPlanCoordinates[0] = getPolygonCenter(event);
                    map.data.overrideStyle(map.data.getFeatureById(champsSelected[0]), originalStyle);
                    champsSelected[0] = event.feature.getProperty('CHAMPS_ID');
                    originSelect = true;
                    map.data.overrideStyle(event.feature, selectedStyle);
                    if (originSelect && destSelect) { // Si origin et dest sélectionnés
                        calcFlightPath(flightPlanCoordinates);
                        showDist(flightPlanCoordinates);
                    }
                });

                map.data.addListener('rightclick', function(event) {
                    jsInterface.setSecondChamp(getPolygonCenter(event));

                    if (flightPath != null) {
                        flightPath.setMap(null);
                    }
                    flightPlanCoordinates[1] = getPolygonCenter(event);
                    map.data.overrideStyle(map.data.getFeatureById(champsSelected[1]), originalStyle);
                    champsSelected[1] = event.feature.getProperty('CHAMPS_ID');
                    destSelect = true;
                    map.data.overrideStyle(event.feature, selectedStyle);
                    if (originSelect && destSelect) { // Si origin et dest sélectionnés
                        calcFlightPath(flightPlanCoordinates);
                        showDist(flightPlanCoordinates);
                    }
                });

                // Itinéraire qui peut être afficher
                directionsDisplay = new google.maps.DirectionsRenderer({
                    map: map
                });

                // Rayon de 20km autour du point de départ
                var cityCircle = new google.maps.Circle({
                    strokeColor: '#FF0000',
                    strokeOpacity: 0.7,
                    strokeWeight: 2,
                    fillColor: '#FF0000',
                    fillOpacity: 0.03,
                    map: map,
                    center: latLng,
                    radius: 20 * 1000,
                    clickable: false
                });

            }

            function calculate(origin, destination) {
                if (origin && destination) {
                    var request = {
                        origin: origin,
                        destination: destination,
                        travelMode: google.maps.TravelMode.DRIVING,
						drivingOptions: {
							departureTime: new Date(Date.now()),  // for the time N milliseconds from now.
							trafficModel: "optimistic"
						},
                        region: 'FR',
                        optimizeWaypoints: true,
                        avoidHighways: true,
                        avoidTolls: true,
                        unitSystem: google.maps.UnitSystem.METRIC
                    };
                    var directionsService = new google.maps.DirectionsService(); // Service de calcul d'itinéraire
                    directionsService.route(request, function(response, status) { // Envoie de la requête pour calculer le parcours
                        if (status == google.maps.DirectionsStatus.OK) {
                            markerOrigin.setMap(null); // On retire le marqueur initial
                            console.log('ok');
                            directionsDisplay.setDirections(response); // Trace l'itinéraire sur la carte et les différentes étapes du parcours
                        }
                    });
                }
            };

            function getPolygonCenter(event) {
                var bounds = new google.maps.LatLngBounds();
                for (var i = 0; i < event.feature.getGeometry().getAt(0).getLength(); i++) {
                    bounds.extend(event.feature.getGeometry().getAt(0).getAt(i));
                }
                return bounds.getCenter();
            }

            function getLineCenter(linePoints) {
                var bounds = new google.maps.LatLngBounds();
                for (var i = 0; i < linePoints.length; i++) {
                    bounds.extend(linePoints[i]);
                }
                return bounds.getCenter();
            }

            function calcFlightPath(coordinates) {
                flightPath = new google.maps.Polyline({
                    path: coordinates,
                    geodesic: true,
                    strokeColor: '#FF0000',
                    strokeOpacity: 1.0,
                    strokeWeight: 2
                });

                flightPath.setMap(map);
            }

            function showDist(coordinates) {
            	var dist = Math.round(google.maps.geometry.spherical.computeDistanceBetween(flightPlanCoordinates[0], flightPlanCoordinates[1])); // En mètres
            	var distStr = dist + "";
            	infowindow.setContent("<strong>" + (Math.round(dist / 1000)) + " km " + distStr.substring(distStr.length - 3) + " mètres</strong>");
                infowindow.setPosition(getLineCenter(flightPlanCoordinates));
                infowindow.open(map);
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbikGyg54hhQ7U_3qsCfOq9G3YV4jeWuk&callback=initMap" async defer></script>
    </body>
</html>