
.home_pane {
    -fx-background-image: url("/application/images/accueil_01.jpg");
    -fx-background-size: cover;
}

.pane_title {
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.5), 2, 0, 1, 1);
    -fx-font-size: 34px;
}

.pane_black {
    -fx-background-color: #000000;
}

.label_status {
    -fx-font-weight: 400;
}

.btn {
    -fx-font-size: 14px;
    -fx-text-fill: WHITE;
    -jfx-button-type: RAISED;
}

.btn-default {
    -fx-background-color: WHITE;
    -fx-text-fill: BLACK;
}

.btn-success {
    -fx-background-color: #4CAF50;
}

.btn-primary {
    -fx-background-color: #1565C0;
}

.btn-danger {
    -fx-background-color: #F44336;
}

.form-control-light {
    -fx-text-fill: #f2f2f2;
    -fx-prompt-text-fill: #dbdbdb;
    -jfx-focus-color: #dbdbdb;
    -jfx-unfocus-color: #c1c1c1;
}

.rect {
    -fx-fill: rgba(34, 36, 47, 0.75);
    -fx-stroke: rgba(34, 36, 47, 0.80);
}

.home_box {
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0, 0.25), 6.0, 0.7, 0.0, 1.5);
    -fx-background-radius: 3;
}

.home_box:hover {
    -fx-opacity: 0.95;
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0, 0), 6.0, 0.7, 0.0, 1.5);
}

.home_box_selected {
    -fx-opacity: 0.95;
}

.box {
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0, 0.25), 6.0, 0.7, 0.0, 1.5);
    -fx-background-color: rgba(255, 255, 255, 0.6);
    -fx-background-radius: 8;
}
.box:hover {
    -fx-opacity: 0.8;
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0, 0), 6.0, 0.7, 0.0, 1.5);
}
.box_selected {
    -fx-background-color: rgba(255, 255, 255, 0.9);
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0, 0), 6.0, 0.7, 0.0, 1.5);
    -fx-background-radius: 8;
}

.header_colored {
    -fx-background-color: #009688;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.img_home {
    -fx-opacity: 1;
}
.img_home:hover {
    -fx-opacity: 0.8;
}

/*******************************************************************************
 *                                                                             *
 * ListView                                                                    *
 *                                                                             *
 ******************************************************************************/
.jfx-list-cell:empty {
    -fx-background-color: red;
}
.jfx-list-cell {
    -fx-padding: 0.9em 1em;
    -fx-text-fill: #212121;
    -fx-font: 12px "Segoe UI";
}
.jfx-list-cell:odd {
    -fx-background-color: white;
}

.jfx-list-view:focused {
    -fx-background-color: -fx-box-border,-fx-box-border,red;
}
.jfx-list-view:focused .jfx-list-cell:filled:selected,
.jfx-list-view:focused .jfx-list-cell:filled:selected:hover,
.jfx-list-view:focused .jfx-list-cell:filled:focused:selected,
.jfx-list-view:focused .jfx-list-cell:odd:filled:selected:focused:hover {
    -fx-background-color: -fx-box-border, rgb(205,205,205);
}
.jfx-list-view .jfx-list-cell:hover:empty,
.jfx-list-view .jfx-list-cell:odd:hover:empty {
    -fx-background-color: white;
}
.jfx-list-view .jfx-list-cell:hover,
.jfx-list-view .jfx-list-cell:odd:hover,
.jfx-list-view:focused .jfx-list-cell:odd:focused:hover,
.jfx-list-view:focused .jfx-list-cell:focused:hover {
    -fx-background-color: -fx-box-border,rgb(231,231, 231);
}

/*******************************************************************************
 *                                                                             *
 * Inputs                                                                  *
 *                                                                             *
 ******************************************************************************/

.jfx-text-area, .text-area {
    -fx-font-weight: BOLD;
}

.jfx-text-field:error, .jfx-password-field:error, .jfx-text-area:error {
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #D34336;
}

.jfx-text-field .error-label, .jfx-password-field .error-label, .jfx-text-area .error-label {
    -fx-text-fill: #D34336;
    -fx-font-size: 0.75em;
}

.jfx-text-field .error-icon, .jfx-password-field .error-icon, .jfx-text-area .error-icon {
    -fx-text-fill: #D34336;
    -fx-font-size: 1em;
}

.jfx-check-box {
    -fx-font-weight: BOLD;
}

/*******************************************************************************
 *                                                                             *
 * Table View                                                                  *
 *                                                                             *
 ******************************************************************************/
.table-view:focused .table-row-cell:selected {
    -fx-text-fill: BLACK;
}

.table-view:focused .table-row-cell:selected .table-cell {
    -fx-text-fill: BLACK;
}

/* TABLE VIEW HEADER */
.table-view .column-header,
.table-view .column-header-background,
.table-view .column-header-background .filler {
    -fx-background-color: TRANSPARENT;
}

.table-view .column-header {
    -fx-border-width: 0 1 0 1;
    -fx-border-color: #F3F3F3;
}

.table-view .column-header .label {
    -fx-text-fill: #949494;
    -fx-padding: 16 0 16 0;
}

.table-view .column-header:last-visible {
    -fx-border-width: 0 2 0 1;
}

.table-view .column-header-background {
    -fx-border-width: 0 0.0 1 0;
    -fx-border-color: #F3F3F3;
}

/* TABLE VIEW CONTENT */
.table-cell {
    -fx-padding: 0.9em;
    -fx-border-color: transparent -fx-box-border transparent transparent;
    -fx-text-fill: #282828;

}
.table-row-cell {
    -fx-background-color: white;
    -fx-border-width: 0 0 0 0;
}
.table-view:focused .table-row-cell:filled:selected, .table-view:row-selection .table-row-cell:filled:hover:selected {
    -fx-background-color: rgb(205,205,205);
    -fx-background-insets: 0,1 1 1 1 0;
}
.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: rgb(231,231,231);
}